html, body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #fef9eb;
  color: #222;
  line-height: 1.6;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@media screen and (orientation: landscape) {
  body::before {
    content: "Please rotate your device to portrait mode for the best experience.";
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fef9eb;
    z-index: 9999;
    font-size: 1.2rem;
    color: black;
    text-align: center;
    padding: 2rem;
  }

  body {
    overflow: hidden;
    touch-action: none;
  }
}
