.mission {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4rem 10%;
}

.mission-container {
  max-width: 1200px;
  text-align: left;
}

.mission-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #2e7d32;
  font-family: 'Poppins', sans-serif;
}

.mission-container p {
  position: relative;
  font-size: 1.1rem;
  line-height: 1.8;
  color: black;
  font-family: 'Inter', sans-serif;
}