<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Seedle</title>

  <link rel="stylesheet" href="../../app.css">
  <script src="../../app.js" defer></script>
  <script src="../../index.js" defer></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
  <script src="resources.js" defer></script>

  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="resources.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

  <div id="header"></div>

  <main class="resources">
    <div class="resources-container">
      <h1>Resources</h1>
      <p>Select your city to see available resources.</p>
      <select id="citySelect"></select>
      <div id="resourcesList" class="resources-list"></div>
    </div>
  </main>

  <div id="footer"></div>
</body>
</html>
